* { box-sizing: border-box !important; }

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ----------------------------------------------------------------
   ----- Baseline Styles ------------------------------------------
   ----------------------------------------------------------------
*/

body { background: #298fce; }

#container { max-width: 960px; min-height: 600px; margin: 0 auto; padding: 1em; background: #fff; }
    #mt-tippyTop { width: 100%; height: 150px; background: #333; text-align: center; }
    #mt-inlineBanner { width: 100%; text-align: center; }
    #mt-leftRail { position: absolute; top: 180px; left: 50%; margin-left: -700px; }
    #mt-rightRail { position: absolute; top: 180px; right: 50%; margin-right: -660px; }

.header, .main, footer {  }


/* ----------------------------------------------------------------
   ----- Animations -----------------------------------------------
   ----------------------------------------------------------------
*/

.mt-animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mt-infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.mt-reverse {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

/* ----------------------------------------------------------------
   ----- Animations -----------------------------------------------
   ----------------------------------------------------------------
*/

@-webkit-keyframes mtslideDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@keyframes mtslideDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

.mt-slideDown {
  -webkit-animation-name: mtslideDown;
  animation-name: mtslideDown;
}

.mt-slideDown:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}


@-webkit-keyframes mtslideInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@keyframes mtslideInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

.mt-slideInLeft {
  -webkit-animation-name: mtslideInLeft;
  animation-name: mtslideInLeft;
}


@-webkit-keyframes mtslideInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@keyframes mtslideInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

.mt-slideInRight {
  -webkit-animation-name: mtslideInRight;
  animation-name: mtslideInRight;
}


@-webkit-keyframes mtzoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0, 0, 0) translate3d(0, -1000px, 0);
      transform: scale3d(0, 0, 0) translate3d(0, -1000px, 0);

    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.5,.5,.5) translate3d(0, 60px, 0);
        transform: scale3d(.5,.5,.5) translate3d(0, 60px, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@keyframes mtzoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0, 0, 0) translate3d(0, -1000px, 0);
      transform: scale3d(0, 0, 0) translate3d(0, -1000px, 0);

    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(.5,.5,.5) translate3d(0, 60px, 0);
        transform: scale3d(.5,.5,.5) translate3d(0, 60px, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

.mt-zoomIn {
  -webkit-animation-name: mtzoomIn;
  animation-name: mtzoomIn;
}


@keyframes mtfadeIn {
    from {
      opacity: 0;

    }

    to {
      opacity: 1;
    }
}

.mt-fadeIn {
  -webkit-animation-name: mtfadeIn;
  animation-name: mtfadeIn;
}


/*

    TO DO

    Slide in left
    Slide in right
    Slide down
    Fade In
    Fade Out
    Zoom In
    Zoom Out

    https://davidwalsh.name/css-animation-callback
*/
